<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="fr">
<head profile="http://gmpg.org/xfn/11">
  <title><%= h(page_title) %></title>
  <%= stylesheet_link_tag "/stylesheets/theme/bootstrap.min.css", "/stylesheets/theme/style.css", :media => 'all' %>
  <%= page_header %>
</head>

<body>

	<div class="navbar">
	  <div class="navbar-inner">
	    <div class="container">
	    	<div id='logo'></div>
	    	<ul class='nav nav-tabs'>
					<%= content_tag(:li, link_to(_('Latest Articles'), this_blog.base_url, {:class => render_active_home}))%>
					<%= content_tag(:li, link_to(_('Categories'), {:controller => 'categories'}, {:class => render_active_articles}))%>
					<%= show_pages_links %>
	      </ul>
	    </div><!-- /.container -->
	  </div><!-- /.navbar-inner -->
	</div><!-- /.navbar -->
		
	<div id='main'>	
    	<div id='page' class='container'>
        	<div class='row'>
         		<div class='span8'>
           			<%= yield %>
         		</div>
	         	<div id='sidebar' class='span4'>
	           		<%= render_sidebars %>
	         	</div>
			</div>
    	</div>
  	</div><!-- /.main -->

	<div class="navbar">
	  <div class="navbar-inner">
	    <div class="container">
			  <p style='text-align: center'><small>&copy; 2012 Greendrive</small></p>
	    </div><!-- /.container -->
	  </div><!-- /.navbar-inner -->
	</div><!-- /.navbar -->

</body>
</html>
